.home {
    font-size: 30px;
    font-weight: bold;
    margin-left: 87px;
    margin-top: 15px;
    font-family: Arial;
    margin-bottom: 8px;
}

.homeLink {
    font-size: 20px;
    margin-top: 8px;
    margin-left: 15px;
    font-family: Arial;
}

.homeLink:hover {
    color: blue;
}