.home {
    font-size: 31px;
    font-weight: bold;
    margin-top: 60px;
    font-family: Arial;
    margin-bottom: 12px;
}

.center {
    text-align: center;
}

.booking {
    font-style: italic;
    margin-top: 35px;
    font-size: 20px;
}

.btn1 {
    font-style: italic;
    margin-top: 8px;
    font-size: 21px;
    cursor: pointer;
    border-color: aliceblue;
}

.btn2 {
    margin-left: 26px;
    font-style: italic;
    margin-top: 18px;
    font-size: 21px;
    cursor: pointer;
    border-color: aliceblue;
}