.login-signup-part {
    border: 2px solid #ec549c;
    margin: 0px auto;
    width: 400px;
    font-size: 20px;
    padding-left: 25px;
    padding-top: 15px;
}

.login-signup-input {
    width: 350px;
    height: 35px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 17px;
    padding-left: 5px;
}

.login-signup-button {
    margin-bottom: 25px;
    width: 300px;
    height: 40px;
    margin-top: 25px;
    margin-left: 37px;
    border-radius: 10px;
    background-color: #de5d9a;
    border-color: transparent;
    font-size: 20px;
    cursor: pointer;

}

.login-signup-button:hover{
    font-weight: 600;
    color:blue;
}

.login-signup-word {
    margin-top: 10px;
    font-size: 22px;
}

.login-signup-title {
    font-size: 32px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 15px;
    color: #c3226e;
}