.welSty {
    font-size: 31px;
    font-style: italic;
    margin-top: 50px;
    font-family: Arial;
    margin-bottom: 28px;
    color:blueviolet;
    font-weight: 600;
    text-align: center;
}

.btnStyle {
    margin-left: 15px;
    font-style: italic;
    border-radius: 6px;
    margin-top: 5px;
    font-size: 17px;
    cursor: pointer;
    border-color: aliceblue;
}

.btnStyle:hover {
    color: #2690a5;
    font-weight: 600;
}

.tiStyle {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 10px;
}

.tiStyle2 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 10px;
}

.wordStyle {
    margin-left: 10px;
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    font-family: Arial;
}

.clickBook {
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: Arial;
}

.clickBook:hover {
    color: blue;
    font-weight: 700;
}

.svgStyle {
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 600;
    color:black;
    font-size: 18px;
    font-family: Arial;
}

.wordStyle2 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
    font-family: Arial;
}

.wordStyle3 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
    font-family: Arial;
}

.filterStyle {
    text-align: center;
    font-size: 16px;
    margin-top: 12px;
    font-family: Arial;
}


.btnStyle2 {
    margin-left: 25px;
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    margin-top: 12px;
    font-size: 18px;
    cursor: pointer;
    border-color: antiquewhite;
    font-weight: 600;
}

.goStyle {
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
    border-color: antiquewhite;
    font-weight: 600;
}

.btnStyle2:hover {
    color: #2690a5
}

.btnStyle-filter {
    margin-left: 10px;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    margin-top: 18px;
    font-size: 18px;
    cursor: pointer;
    border-color: aliceblue;
    font-family: Arial;
}

.btnStyle-filter:hover {
    color: blue;
    font-weight: 600;
}

.btnStyle-booklist {
    margin-left: 10px;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    margin-top: 10px;
    font-size: 17px;
    cursor: pointer;
    border-color: aliceblue;
    font-family: Arial;
    margin-bottom: 15px;
}

.btnStyle-booklist:hover {
    color: blue;
    font-weight: 600;
}

.inputStyle {
    margin-top: 12px;
    margin-left: 5px;
    height: 20px;
}

.goStyle {
    margin-top: 10px;
    margin-left: 8px;
    border-radius: 3px;
    border-color: aliceblue;
    font-size: 16px;
}
